

<div class="page" id="page">
    {{!-- <header class="header">
        <button class="button">
            <img src="/svg/header__back.svg" alt="">
        </button>
        <button class="button">
            <img src="/img/header__avatar.png" alt="">
        </button>
    </header> --}}

    {{!-- <h1 class="title">Комьюніті</h1> --}}

    {{!-- <div class="tabs">
        <div class="tab">
            <span class="tab__name name__disabled">База знань</span>
            <hr class="thin">
        </div>
        <div class="tab">
            <span class="tab__name">Інформація</span>
            <hr class="bold">
        </div>
    </div> --}}
{{!-- 
    <main class="main">
        <div class="banner">
            <img src="/img/community__banner.png" alt="Banner" class="banner">
        </div>
        <div class="content">
            <h2 class="content__title">Що таке База знань?</h2>
            <p class="content__text">База знаний — база данных, содержащая правила вывода и информацию о человеческом опыте и знаниях в некоторой предметной области. 
                В самообучающихся системах база знаний также содержит информацию, являющуюся результатом решения предыдущих задач.</p>
        </div>
        <a href="#" class="tg__link">
            <div class="community__button">
                <span class="button__text">Перейти до ком'юніті у Телеграм</span>
            </div>           
        </a>
    </main> --}}
</div>

